{% extends 'layout.html' %}

{% block head_title %}Password change{% endblock %}

{% block content %}
  {% if not message %}
    <h1>Password change page</h1><hr>
    <form action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div>
          {{ field.label }}: {{ field }}
        </div><br>
        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      {% endfor %}
      <input type="submit" value="Save">
    </form><hr>
  {% elif message %}
    {{ message }}<hr>
  {% endif %}
  <a href="/">Back</a>
{% endblock %}
